<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.subscribeTitle }}</h3>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <div class="animated hiding" data-animation="fadeInDown">
                    <p><img src="/img/partners/finest-tree-putih.svg" alt="The Finest Tree" width="70%"/></p>
                </div><br/>
                <p class="subscribe-info">{{ site.subscribeInfo }}</p><br/>
				<a href="https://closing.jogjaedufair.id" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank"><i class="fa fa-ticket" aria-hidden="true" title="Buy Ticket"></i> Buy Ticket</a>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->